<footer>
  <div class="footer-col">
      <div class="footer-col-1">
        <p>
          <p><small>Copyright &copy; 2016 {{ site.title }} <br /> All rights reserved.</small></p>
          <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        </p>
      </div>

      <div class=" footer-col-2">
        <p class="social-media-list">
          {% if site.github_username %}

            {% include icon-github.html username=site.github_username %}
          <br />
          {% endif %}

          {% if site.twitter_username %}

            {% include icon-twitter.html username=site.twitter_username %}
          <br />
          {% endif %}

          {% if site.linkedin_username %}

            {% include icon-linkedin.html username=site.linkedin_username %}
          <br />
          {% endif %}
        </p>
      </div>


    </div>

  </div>
</div>
</footer>
