

$content-width: 800px;
$main: #b6c1f7;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #425469;
$light: #E7EDF4;
$header: #F7ECB6;
/* green #19CCAA
 yellow #F7ECB6
 blackish #1D1425
 bluish #b6c1f7*/

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align:middle;

        path {
            fill: $grey-color;
        }
    }
}
